name: Deployment of the Project

on:
  push:
    branches:
      - master


jobs:
  deploy:
    name: Deploy NodeJS app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Setup NodeJS
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm install

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/learning
            git pull

            # create .env file on vps
            cat <<EOF > .env
            SECRET=${{ secrets.SECRET }}
            PORT=${{ secrets.PORT }}
            EOF

            docker compose down
            docker compose up -d --build
          
